/* Sources: https://www.youtube.com/watch?v=WCKrji3SRW0 : Animation*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap%27');

body{
            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#554562, #102246);
}
canvas{
    box-shadow: black 20px 10px 50px;
}

.snake{
    position: relative;
    height: 204px;
    background: url(snake.png);
    width: calc(1224px /5);
    transform: perspective(500px) rotateX(-25deg);
    animation: animateSnake 1s steps(5) infinite;
}
@keyframes animateSnake
{
    from
    {
        background-position: 0;
    }
    to
    {
        background-position: -1224px;
    }
}
