@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    display: flex;
    font-family: "Roboto";
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
td{
    border: 1px solid black;
    width: 35px;
    height: 35px;
}
th{
    border: 1px solid black;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: rebeccapurple;
}